<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Academi Gymraeg | Admin</title>
</head>
<body>
<h1>Admin controls</h1>
<p>
    <label for="username">Enter username:</label>
    <label>
        <input name="username"/>
    </label>
</p>

<p>Reset password</p>

<p>
    <label for="password">Enter new password:</label>
    <label>
        <input name="password" type="password"/>
    </label>
</p>

<p>delete user</p>

<p>
    <label for="password">Enter password:</label>

    <label>
        <input name="password" type="password"/>
    </label>
</p>

<p>
    <button type="submit">Delete User</button>
</p>

<p>Change user type</p>

<p>
    <label for="password">Enter password:</label>
    <label>
        <input name="password" type="password"/>
    </label>
</p>

<p>select new user type</p>

<p>
    <button type="submit"> Student</button>
</p>

<p>
    <button type="submit">Instructor</button>
</p>

<p>
    <button type="submit">Admin</button>
</p>

</body>
</html>